#maze {
    line-height: 0px;
}

#winner {
    background-size: contain;
    width: 150px;
    height: 175px;
    position: absolute;
    left: auto;
    top: auto;
    max-width: 100%;
    background-size: contain;
    background: url(./Assets/trophyNoBkgd.png);
}

.cell {
    width: 25px;
    height: 25px;
    margin: 2px;
    display: inline-block;
}

.wall {
    background-color: aqua;
}

.empty {
    background-color: white;
}

#player {
    background-color: dodgerblue;
    position: absolute;
    top: 305px;
    left: 8px;
}

#start {
    background-color: red;
}

#finish {
    background-color: rgb(88, 128, 10);
}


/* #move {
    width: 25px;
    background-color: red;
    height: 25px;
    margin: 2px;
    display: inline-block;
} */


/** CSS get ble box to on red square-means in CSS add top = 200-400 px  and left = 5-10 px, 
 * then two values, needs to make player ht and width same as wall 
 * then JS = var boxtop and box left needs to match intial values of player top and player left in CSS
 * change incremention in switch statment usually 10 - 20 - last */