/*  Put your CSS Here */


/* #maze {
    display: flex;
} */

.wall {
    width: 25px;
    background-color: aqua;
    height: 25px;
    margin: 2px;
    display: inline-block;
}

.empty {
    width: 25px;
    background-color: white;
    height: 25px;
    margin: 2px;
    display: inline-block;
}

#player {
    width: 10px;
    background-color: dodgerblue;
    height: 10px;
    margin: 2px;
    display: inline-block;
}

#start {
    width: 25px;
    background-color: red;
    height: 25px;
    margin: 2px;
    display: inline-block;
}

#finish {
    width: 25px;
    background-color: rgb(88, 128, 10);
    height: 25px;
    margin: 2px;
    display: inline-block;
}

#move {
    width: 25px;
    background-color: red;
    height: 25px;
    margin: 2px;
    display: inline-block;
}


/* font-family: 'Gill Sans';
font-size: large; */